##### Hack Club Auth
# Registered callback: ***.hackclub.com/submit/hca/callback
FERRY_HCA_CLIENT_ID=
FERRY_HCA_CLIENT_SECRET=

##### Hackatime
# change from "required" to "off" to disable hackatime integration
FERRY_HACKATIME_MODE=required
# Registered callback: ***.hackclub.com/submit/hackatime/callback
FERRY_HACKATIME_CLIENT_ID=
FERRY_HACKATIME_CLIENT_SECRET=
# your event start date, YYYY-MM-DD, ignores hackatime before then
FERRY_EVENT_START_DATE=2026-**-**

##### Airtable
# get this from the URL of your base
FERRY_AIRTABLE_BASE_ID=app***
# - go to https://airtable.com/create/tokens and create a token
# - set a name like "Ferry - EVENTNAME" and add your base
# - give it data.records:read and data.records:write scopes
# - create token
FERRY_AIRTABLE_API_KEY=pat***

##### Fillout
# publish your form
FERRY_FILLOUT_FORM_URL=https://forms.hackclub.com/***

##### Secret
# run `openssl rand -hex 32`
FERRY_SECRET=


##### Optional stuff

# defaults to [request domain]/submit, override if that's different
# FERRY_BASE_URL=https://***.hackclub.com
# FERRY_BASE_PATH=/submit

# if you need to request different scopes, you can override them
# FERRY_HCA_SCOPES=name birthdate address verification_status basic_info
# FERRY_HACKATIME_SCOPES=profile read
